@import './status/';
@import './screen/';
@import './control/';

.game-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #edeae9;
}

.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 25%;
  height: 95%;
  background-color: #edeae9;
  border-radius: 30px;
  box-shadow:
    8px 8px 15px rgba(0, 0, 0, 0.13),
    -8px -8px 15px rgba(255, 255, 255, 1);
}